body{
    background-image: url(images/pismis-24.jpg);
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(94, 94, 94);
}

h1{
    color: rgba(203, 75, 75, 0.59);
    font-family: "Press Start 2P";
    /* font-weight: 1; */
    font-size: 10ch;
    font-style: normal;
    -webkit-text-fill-color: rgb(255, 190, 111);
    -webkit-text-stroke: 1px;
}

h2{
    color: rgb(250, 161, 88);
    font-family: 'Libre Baskerville', serif;
    font-size: 5ch;
    font-style: italic;
}

h3{
    font-size: 3ch;
    font-family: 'Libre Baskerville', serif;

}


p{
    color: rgba(255, 160, 83, 0.502);
    font-family: 'consolas';
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

a:hover{
    color: rgb(203, 154, 255);
    font-style: italic;
}


ul{
    font-family: 'consolas'
}

.container {
    background-color: #0c0c0c;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1.5%;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
    max-width: 70%;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: rgb(0, 0, 0);
    color: rgb(192, 192, 192);
    font-size: 2ch;
    font-weight: 300;
    font-style:  italic;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.box{
    background-color: rgb(78, 134, 134);
}
.headbox{
    /* background-color: rgb(46, 14, 18); */
    /* background-image: url(images/bulletcluster.jpg); */
    background-position: 0rem;
    background-position-x: 18rem;

    text-align: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}



.subtext{
    color: aliceblue;
    font-size: xx-large;
}

.headbanner {
    background-position: 0rem;
    background-position-x: 18rem;
    padding-top: 4rem;
    padding-bottom: 0.1rem;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
