body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

#banner {
    background-image: url(images/snr147.jpg);
    background-position: cover;
    background-position: 0rem; 
    background-position-x: 8em;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 2.5ch;
}

#container {
    display: flex;
    flex-grow: 1;
}

#sidebar {
    width: 15%;
    background-color: #282828;
    padding: 20px;
    height: 100vh;
}

#content-container {
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(255, 250, 243);
}

#content {
    /* You can add styles specific to the content here */
    font-size: 2ch;
    font-family: 'Libre Baskerville', serif;
}

#content h2{
    font-size: 3ch;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'consolas';
    font-size: 2.5ch;
}

#sidebar a:hover {
    background-color: #008192;
}

.topic-content {
    display: none;
}
